/* CSS HEX */
:root{
--sapphire-blue: #2f6690ff;
--celadon-blue: #3a7ca5ff;
--gainsboro: #d9dcd6ff;
--indigo-dye: #16425bff;
--dark-sky-blue: #81c3d7ff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navDiv{
  background-color: var(--indigo-dye);
}

#content {
  margin-right: 3rem;
  margin-left: 3rem;
}

#heroImg {
  max-width: 40%;
}

#aboutMeDiv{
  margin-top: 2rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

#aboutMeCard {
  border-style: none;
}

/* #cardBtn {
  max-width: 50%;
} */
