/* CSS HEX */
:root{
--sapphire-blue: #2f6690ff;
--celadon-blue: #3a7ca5ff;
--gainsboro: #d9dcd6ff;
--indigo-dye: #16425bff;
--dark-sky-blue: #81c3d7ff;
}

#root {
  padding: 0;
  margin: 0;
  /* width: 100vw;
  height: 100vh; */
}

#portfolioContainer{
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.imgDiv {
  max-width:100%;
  max-height:100%;
}

.navItem > a {
  color: white;
}

.navActive{
  color: grey;
  background-color: grey;
}

div > .navButton{
  color: white;
  height: 80%;
  margin-left: 5px;
  margin-right: 5px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#navDiv{
  background-color: var(--dark-sky-blue);
  border-radius: 10px;
  max-width: 100%;
}

#navContainer{
  max-width: 100vw;
  max-height: 10%;
}

/* #content {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
} */

#content::-webkit-scrollbar {
  width: 0!important;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

#content::-webkit-scrollbar-thumb {
  background: transparent; /* Optional: just make scrollbar thumb invisible */
}

@-moz-document url-prefix() {
  #content {
  scrollbar-width: none;
  scrollbar-color: transparent;
}                                                                                                                                                                          
}

.pageSection {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  scroll-snap-align: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#heroImg {
  max-width: 100%;
  max-height: 80%;
}

.contactContainer{
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: var(--sapphire-blue);
}

.contactFormContainer{
  height:100%;
  width:100%;
  display: flex;
  flex-basis: auto;
  align-items: center;
  justify-content: center;
}

.contactFormContainerRow{
  width: 100%;
}

.contactElementContainer{
  width: 100%;
}

.formRow{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div > input {
  height: 4rem;
}

.messageContent{
  height: 10rem;
  width: 100%;
  border-radius: 7px;
  padding: 1rem;
}


#aboutMeDiv{
  width: 100vw;
  height: 100vh;
  background-color: var(--indigo-dye);
  padding: 2rem;
  border-radius: 10px;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#projectDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
  background-color: var(--sapphire-blue);
  padding: 2rem;
  border-radius: 10px;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#featuredDiv {
  background-color: var(--indigo-dye);
  padding: 2rem;
  border-radius: 10px;
}

#aboutMeCard {
  border-style: none;
  background-color: var(--gainsboro);
}